
$color1: #F1EEE6;
$color2: #c3e9ff;
$color3: #87CEEB;
$color4: #ADD8E6;
$colorCountCorrectText: #276738;

$colorQuestionTagOriginal: rgba($color: #888, $alpha: .6);
$colorQuestionTagOriginalHover: rgba($color: #575757, $alpha: .75);
$AnswerToQuestionPadding: 1.5%;
$AnswerToQuestionMargin: 1.5%;
$pageWidth: 65vw;
$paddingQuestionTag: 0.3em;